@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0}

/* events style */


.event-image{ width:500px; height:200px; padding:0px;}
.event-image img{ margin:0px; display:block}


.box_event #event-control{ width:70px; overflow:hidden; position:absolute; z-index:3; right:0px; bottom:10px}
.box_event #event-control ul{ margin:0px; padding:0; list-style-type:none;}
.box_event #event-control ul li{ float:left; margin-right:4px; font-weight:bold; line-height:12px; font-size:11px;}

.box_event #event-control ul li a:link,
.box_event #event-control ul li a:visited{ display:block;width:12px; height:12px; background:url(../images/bt_event.gif) no-repeat right top; text-align:center; color:#000; text-decoration:none}
.box_event #event-control ul li a:hover{ display:block; width:12px; height:12px; background:url(../images/bt_event-o.gif) no-repeat right bottom; text-align:center;  color:#bc161c; text-decoration:none}
.box_event #event-control ul li a:link.act,
.box_event #event-control ul li a:visited.act{ display:block; width:12px; height:12px; background:url(../images/bt_event-o.gif) no-repeat right bottom; text-align:center; color:#bc161c; text-decoration:none}

.box_event #event-control ul li a:link.off,
.box_event #event-control ul li a:visited.off,
.box_event #event-control ul li a:hover.off{ display:block;width:12px; height:12px; background:url(../images/bt_event.gif) no-repeat right top; text-align:center; cursor:default; color:#c3d0c8; text-decoration:none}


